<!-- Navigation -->
<div class="container-fluid">
<nav class="navbar navbar-default navbar-custom navbar-fixed-top" style="background-color:blue;">
  
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <h3 style="margin:15px 0 0 15px;color:white;">Austin | Dallas</h3>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ site.baseurl }}/" style="position:absolute;right:15px;width:300px;margin-top:15px;">Login</a>
                </li>
            </ul>

            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ site.baseurl }}/" title="HOME"><img src="{{ site.baseurl }}/logo.png" alt="logo" style="position:absolute;right:15px;width:300px;margin-top:15px;"/></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling 
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ site.baseurl }}/">Login</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    
    <!-- /.container -->
</nav>
</div>